.child{
    background-color: rgb(216, 31, 151);
     color: blueviolet;

}   
.teen{
    background-color: brown;
     color:blue;

}
.young{
    background-color: orange;
    color:greenyellow ;


}