<p>users works!</p>
  <input type="text"[(ngModel)]="term" (keypress)="getfilteredusers()">

  <label>coloumn</label>
  <select [(ngModel)]="column">
    <option>name</option>
    <option >city</option>
  </select>
  <label>order</label>
  <select [(ngModel)]="order">
    <option >asc</option>
    <option>desc</option>
  </select>
  <button (click)="getsortedusers()">sort</button>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>city</th>
            <th>fee</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.city}}</td>
            <td>{{user.fee}}</td>
            <td>{{user.id}}</td>
            <td>
              <button class="btn btn-danger"(click)="deleteusers(user.id)">Delete</button>
            </td>
        </tr>
        <label></label>
        <select [(ngModel)]="limit">
           <option >3</option>
           <option>5</option>
           <option>10</option>
           <option >15</option>
           </select>
           <label >page</label>
           <select [(ngModel)]="page">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
           </select>
        <button (click)="getpageusers()">page</button>


    </tbody>
</table>