.parent{
  height: 100vh;
  /* width: 350px; */
  /* background-color: azure; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* margin-left: 250px; */
  display: flex;
  

}
.calculator{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
}    
input{
    border-radius: 5px;
    padding: 0;
    margin: 10px 0;
    

}
/* h2{
    margin-left: 400px;
} */